/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2015, 9:10:20 PM
    Author     : Nate
*/

.pTable {
    text-align: center;
    border-bottom-color: black;
    margin: 0px auto 50px;
    background-color: lightgray;
    border: 3px;
}
  
.pTable td{
    background-color: bisque;
    padding: 3px;
    border-color: gray;
}

.pTable tr{
    background-color: silver;
    border-color: green;
}

#container{
    margin: 0px auto;
    width: 1200px;
}

.heading {
    text-align: center;
    padding-top: 0px;
}
// div css
#top{
    background-color: blue;
    width: 1200px;
    box-shadow: 10px 10px 5px darkblue;
    border-radius: 20px;
}

#navi{
    background-color: darkturquoise;
    padding: 1px;
    border-radius: 20px;
}

#main{
    background-color: buttonhighlight;
    width: 700px;
    border-radius: 20px;
}

#side {
    background-color: salmon;
    width: 500px;
    border-radius: 20px;
}

#foot{
    background-color: darkturquoise;
    clear: both;
    padding: 20px 20px 20px;
    border-radius: 20px;
}
